<!DOCTYPE html>
<html>
  <head>
    <title>Connectwell4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
    <nav>
      <div class="nav-wrapper blue lighten-1">
        <ul id="nav-mobile" class="">
          <li><a href="/support_plans/">My Plan</a></li>
          <li><a href="/schedule_items/">Today</a></li>
          <li><a href="/">My Goals</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
